.manage-patient-container{
  .m-p-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
  }
  .manage-patient-body{
    padding: 0 20px;
    .table-manage-patient{
      table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,td{
        padding: 5px;
        text-align: left;
      }
    }
    .btn-actions{
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      margin: 5px;
    }
  }
}