.preview-img-container{

  label.label-upload {
    border: 1px solid;
    padding: 5px 16px;
    background: #007bff;
    color: wheat;
    border-radius: 15px;
    cursor: pointer;
  }
  .preview-img{
    height: 50px;
    width: 100%;
    border: 1px solid red;
  }

}