.section-outstanding-doctor{
  height: 450px;
  .section-bg-outstanding-doctor{
    background: url(../../../assets/images/bg-doctor.png) no-repeat center top / cover;
    background-size: 100%;
    border-radius: 10px;
  }
}
