
.homeheader-container{
  width: 100%;
  height: 78px;
  background-color: #EDFFFA;
  border-radius: 0 0  20px 20px; 
  position: sticky;
  top: 0;
  z-index: 1000;
  .homeheader-content{
    width: 100%;
    height: 100%;
    display: flex;
    .left-content{
      width: 25%;
      position: relative;
      display: flex;
      .header-logo{
        width: 100%;
        background:url(../../assets//images/ef33fc54534d4ca7444b21d7ea4b748c.png) center   center no-repeat ;
        background-size: 60%;
        
        cursor: pointer;

      }
      i{
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        color: gray;
        cursor: pointer;
      }
    }
    .center-content{
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      
      .child-content:hover{
        cursor: pointer;
        background-color: rgb(240, 201, 41);
        transition:  0.5s ease-in;
        .sub-title{
          font-size: 13px;
        }
      }
      
    }
    .right-content{
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
     
      .support{
        padding-right: 40px;
        display: flex;
        align-items: center;
        i{
          margin-right: 5px;
        }
      }
      .language-divider {
        display: inline-block;
        margin: 0 5px; /* Điều chỉnh khoảng cách giữa các phần tử */
        color: #888; /* Màu của gạch chia */
      }
      .language-vi{
        opacity: 0.2;
          &.active{
            opacity: 1;
            color: orange
          }
         
      }
      & :hover{
        opacity: 1;
      }
      .language-en{
          opacity: 0.2;
          &.active{
            opacity: 1;
            color: red
          }  
          
      }
      & :hover{
        opacity: 1;
      }

    }
  }
}

.homeheader-banner{
  height: 450px;
  background-image: url(../../assets/images/bannerMain.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  .homeheader-backround-linear{
    height: 100%;
    .content-up{
      height: 50%;
      padding-top: 1.5em;
      color: darkorange;
      
      .title-1{
        margin: 15px 0;
      }
      .text-introduce{
        text-align: center;
        font-size: 40px;
        text-shadow: 1px 1px 1px #333;
        
    
      }
      .search{
        margin: 20px auto;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 30px;
        background-color: rgb(255, 180, 40);
        i{
          margin: 0 5px;
          color: black;
        }
        input{
          height: 30px;
          width: 400px;
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
    
    .content-down{
 
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 255));
      height: 46%;
      .options{
        text-align: center;
        grid-gap: 50px;
        display: flex;
        .option-child{
          width: 80px;
          padding:  5px;
           &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
 
}